
@font-face {
    font-family: nos;
    src: url(PuristaMedium.ttf);
    font-style: normal;
    font-weight:600;
  }
  
* {
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

html, body { 
	height: 100%; 
	background-color: lighten(#090D19, 20%);
	background-image: url(https://media.giphy.com/media/JqiYS6Xvdh0IM/giphy.gif);
	background-size: cover;
	background-position: 50% 40%;
}

body { 
	mix-blend-mode: screen;
}

.centerer {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.maintext{
	position: absolute;
	top: -45%; right: 0; left: 0; bottom: 0;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.porthole {
	width: 30vw;
	height: auto;
	mix-blend-mode: multiply;
}

.text { 
    font-family: nos;
	font-size: 24px;
    font-weight: normal; 
    font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1vw;
	color: transparent;
    width: 100%;
	text-align: center;
	mix-blend-mode: screen;
}

.one {
	text-shadow: 0 0.1vw 0.05vw #6858F2;
}

.two {
	text-shadow: 0 0 0.1vw #FFFFFF;
	animation: text-2 0.5s infinite;
}

@keyframes text-2 {
	0% {
		transform: scale(1) translate(0, 0) skew(0deg);
	}
	7% {
		transform:  scale(1) translate(0, 0) skew(0deg);
	}
	8% { 
		transform:  scale(1.2) translate(-20px, 30px) skew(0deg);
	}
	11% { 
		transform:  scale(1.2) translate(-20px, 30px) skew(0deg);
	}
	12% {
		transform:  scale(0) translate(0,0) skew(0deg);
	}
	29% { 
		transform: skew(-50deg);
	}
	32% { 
		transform: skew(0deg);
	}
	41% {
		transform: skew(0deg);
	}
	67% {
		transform:  scale(1) translate(0, 0) skew(0deg);
	}
	68% { 
		transform:  scale(1.2) translate(50px, 35px) skew(0deg);
	}
	71% { 
		transform:  scale(1.2) translate(50px, 35px) skew(0deg);
	}
	72% {
		transform:  scale(0) translate(0,0) skew(0deg);
	}
	100% {
		transform: skew(0deg);
	}
}

.glitch
{
    font-family: nos;
	font-size: 4vw;
    font-weight: normal; 
    font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1vw;
	color: #888888;
    width: 100%;
	text-align: center;
	mix-blend-mode: screen;
    text-shadow: 0 0.1vw 0.05vw #6858F2
}

.nav{
	position: absolute;
	top: -35%; right: 0; left: 0; bottom: 0;
	height: 100%;
	display:flex;
  	align-items: center;
  	justify-content: center;
	text-decoration: none;
}

.nav .first{
	width: 25%;
	text-align: center;

}

.nav .second{
	width: 25%;
	text-align: center;

}

.nav .third{
	width: 25%;
	text-align: center; 
}

.nav .fourth{
	width: 25%;
	text-align: center; 
}
.dash{
	border-left: 2px solid #EEEEFF;
	height: 16px;
}

.projects{
	margin-right: 20px;
	text-decoration: none;
	font-family: nos;
	font-size: 16px;
    font-weight: normal; 
    font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}

.mainheader{
	position: absolute;
	top: -10%; right: 0; left: 0; bottom: 0;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}


.newstextheader {
	text-shadow: 0 0.1vw 0.05vw #6858F2;
}

.newstextheader2 {
	text-shadow: 0 0 0.1vw #FFFFFF;
	animation: text-2 0.5s infinite;
}

.newsinternal{
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	height: 100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
	text-decoration: none;
}

.newstext{
	text-decoration: none;
	font-family: nos;
	font-size: 16px;
    font-weight: normal; 
    font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-align: center;
}